

.item{
  width: 200px;
  height: 80px;
  background-color: yellow;
  color: black;
  text-align: center;
  /* margin: auto; */
  margin: 2px;
}

.item-1{
  /* absolute tira o elemento do seu workflow */
  position: absolute; 
  bottom: 300px;
  right: 200px;

  background-color: red;
  width: 500px;
  height: 500px;
  color: white;
  border-radius: 50%;
}


.item-3{
  /* estatico não possui acesso ao top e right */
  position: static; 
 
}


.item-2{
  /* não tira o elemento do seu workflow */
  position: relative; 
  left: 120px;
  background-color: green;
 
}


/* rodape */
.item-4{ 
  /* elemmento fica fixo em relação ao html */
  position: fixed; 
  bottom: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  background-color: #fa0096;
}